<section>
  <div class="container mx-auto border border-red-500 w-296 px-12 py-4">
    <nav class="">
      <ul class="flex flex-row items-center justify-center">
        <li class="mr-36">Планета пластик</li>
        <li class="w-48 mr-16">08203, Київська обл., м. Ірпінь, вул. Покровська, 1</li>
        <li class="w-72 mr-16">Відділ продажів: Пн-Пт с 9:00 до 17:00 Склад: Пн-Пт с 9:30 до 16:30</li>
        <li class="w-36">
          <a href="tel:+38(044) 2290000" class="underline text-slate-500">+380 (44) 2290000 Зворотній зв'язок</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
